<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-light grey lighten-3">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#"><img src="/assets/logo.png" width="150" height="150" class="d-inline-block align-top" alt="Luzia Confezioni"></a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">

      <li [routerLinkActive]="['active']" class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['home']">Home</a>
      </li>
      <li [routerLinkActive]="['active']" class="nav-item" *ngFor="let page of links$ | async">
        <a class="nav-link waves-light" mdbWavesEffect [routerLink]=[page.route]>{{ page.title }}</a>
      </li>

      <li [routerLinkActive]="['active']" class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/contatti']">Contatti</a>
      </li>

    </ul>
    <!-- Links -->

  </links>
  <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->

