<form [formGroup]="profileForm" name="contact" method="POST" data-netlify="true">
  <p>

  <div class="p-field p-col-12 p-md-4">
    <label>Your Name: <input formControlName="firstName" type="text" name="name"/></label>
  </div>

  <div class="p-field p-col-12 p-md-4">
    <label>Your Email: <input formControlName="lastName" type="email" name="email"/></label>
  </div>
  <p>
    <label>Your Role: <select name="role[]" multiple>
      <option value="leader">Leader</option>
      <option value="follower">Follower</option>
    </select></label>
  </p>
  <p>
    <label>Message: <textarea name="message"></textarea></label>
  </p>
  <p>
    <button [disabled]="!profileForm.valid" type="submit">Send</button>
  </p>
</form>
